acl "trusted-hosts" {
    localhost;
    localnets;
    192.168.10.0/24;  // VLAN 10 Gestión
    192.168.20.0/24;  // VLAN 20 Servidores
    192.168.30.0/24;  // VLAN 30 Clientes Cerrito
    192.168.40.0/24;  // VLAN 40 Enlace Cocalito
    192.168.100.0/24; // VLAN 100 (Opcionals)
    2001:db8:20::/64;
};

acl "secondary-servers" {
    {% for slave in dns_slaves | default([]) %}
    {{ slave }};
    {% endfor %}
};

options {
    directory "/var/cache/bind";

    forwarders {
        8.8.8.8;
        8.8.4.4;
    };

    // Validación DNSSEC global activa
    dnssec-validation auto;

    // Al escuchar en 'any', no importa cuántas interfaces tenga la Mini PC
    listen-on port 53 { any; };
    listen-on-v6 port 53 { any; };

    recursion yes;

    allow-recursion { "trusted-hosts"; };
    allow-query { "trusted-hosts"; };
    allow-transfer { "secondary-servers"; };
};