;
; Archivo de zona directa para {{ dns_domain }}
;
$TTL    604800
@       IN      SOA     {{ dns_primary_ns }}.{{ dns_domain }}. admin.{{ dns_domain }}. (
                     {{ ansible_date_time.epoch }}  ; Serial
                         604800     ; Refresh
                          86400     ; Retry
                        2419200     ; Expire
                         604800 )   ; Negative Cache TTL
;
; Name servers
@       IN      NS      {{ dns_primary_ns }}.{{ dns_domain }}.

; A records para servidores
{{ dns_primary_ns }}    IN      A       {{ dns_primary_ip }}

{% for host in dns_hosts %}
{{ host.name }}         IN      A       {{ host.ip }}
{% endfor %}

; CNAME (alias) si es necesario
{% for alias in dns_aliases | default([]) %}
{{ alias.name }}        IN      CNAME   {{ alias.target }}.
{% endfor %}