;
; Archivo de zona inversa para {{ dns_reverse_zone }}
;
$TTL    604800
@       IN      SOA     {{ dns_primary_ns }}.{{ dns_domain }}. admin.{{ dns_domain }}. (
                     {{ ansible_date_time.epoch }}  ; Serial
                         604800     ; Refresh
                          86400     ; Retry
                        2419200     ; Expire
                         604800 )   ; Negative Cache TTL
;
; Name servers
@       IN      NS      {{ dns_primary_ns }}.{{ dns_domain }}.

; PTR records
{{ dns_primary_ip.split('.')[-1] }}    IN      PTR     {{ dns_primary_ns }}.{{ dns_domain }}.

{% for host in dns_hosts %}
{{ host.ip.split('.')[-1] }}          IN      PTR     {{ host.name }}.{{ dns_domain }}.
{% endfor %}