options {
    directory "/var/cache/bind";

    // Forwarders (Google DNS como respaldo)
    forwarders {
        8.8.8.8;
        8.8.4.4;
    };

    dnssec-validation auto;

    listen-on port 53 {
        127.0.0.1;
        192.168.20.20
    };

    listen-on-v6 port 53 {
        2001:db8:20::20; 
        ::1;
    };

    recursion yes;

    allow recursion {
        trusted-hosts; 
    };

    allow-query {
        trusted-hosts;
    };

    allow-transfer {
        secondary-servers;
    };

    //Colocar vlan 100?
    acl "trusted-hosts" {
        localhost;
        localnets;
        192.168.20.3/24;
        2001:db8:20::/64;
        192.168.30.3/24;
        192.168.40.3/24;
        192.168.50.3/24;
    };

    acl "secondary-servers" {
        192.168.20.21;
    };
};